
body {
    background-color: rgb(54, 54, 54);
    min-width: 300px;
    text-align: center;
    color: rgb(223, 221, 221);
    font-family: 'Comfortaa', cursive;
}

h1 {
    font-size: 30px;
}

p {
    text-align: center;
    padding: 0px 20px;
}

span {
    color: rgb(108, 212, 108);
}

.button {
    margin-left: 110px;
    cursor: pointer;
    background: rgb(151, 180, 151);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    width: 5.5em;
    border-radius: 1rem;
    /* animation: backgroundYellow 1s infinite */

}

.row {
    color: black;
    font-weight: 800;
    padding: 6px;
    pointer-events: none;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #95e077;
    /* animation: moveCircleRight 1s infinite; */
}

@keyframes moveCircleRight {
    from {
        left: 0;
        background-color: rgb(69, 117, 69);

    }
    to {
        left: 100%;
        background-color: rgb(108, 212, 108);
        transform: translateX(-100%);
    }
}

@keyframes moveCircleLeft {
    from {
        left: 100%;
        background-color: burlywood;

    }
    to {
        left: 0;
        background-color: #95e077;
        transform: translateX(-10%);
    }
}

@keyframes backgroundYellow {
    0% {
        background-color: #95e077;
    }

    100% {
        background-color: #41a159;
    }
}

@keyframes backgroundBlue {
    0% {
        background-color: #3d3d3b;
    }

    100% {
        background-color: #4d5e4a;
    }
}



